---
layout: page
---

<article class="article">
  <h1>{{ title }}</h1>
  <small>
    Published: <time>{{ date | readableDate }}</time>
    {% if blog %}
      <a class="category" href="/blog/{{ category }}">{{ category }}</a>
    {% endif %}

  </small>
  {{ content | safe }}
</article>