<!doctype html>
<html lang="{{ metadata.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="alternate" title="Access-Control-Allow-Origin" href="*"/>

    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>⚉</text></svg>">
    <title>{{ title or metadata.title }}</title>
    {% include "../components/metadata.njk" %}
    <script type="module" src="/assets/svg-icon-sprite.js"></script>
    <script async src="https://oddanalytics.herokuapp.com/tracker.js" data-ackee-server="https://oddanalytics.herokuapp.com" data-ackee-domain-id="3d4a58a2-9c9c-4011-aa94-c4d03f5948c9"></script>
    <link rel="stylesheet" href="{{'/assets/theme.css' | url }}" />
  </head>

  <body>
    {% include "../components/header.njk" %}
    <main role="main">
      {{ content | safe }}
    </main>
    {% include "../components/footer.njk" %}
  </body>
</html>