---
layout: page
title: "stuff"
eleventyNavigation:
    key: posts
    order: 2
pagination:
  data: collections.blog
  size: 10
  alias: articles
blog: true
---

<h1>{{ title }}</h1>
{% include "./_includes/components/categoryNav.njk" %}
{% markdown %}
{% include "./pageblurbs/blogblurb.md" %}
{% endmarkdown %}

{% include "./_includes/components/articleList.njk" %}

{%- for pageEntry in pagination.pages %}
    <li class="page_list"><a href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}>Page {{ loop.index }}</a></li>
{%- endfor %}
