---
layout: page
title: "misc"
eleventyNavigation:
    key: misc
    order: 4
pagination:
  data: collections.misc
  size: 10
  alias: articles
---

<h1>{{ title }}</h1>
{% markdown %}
{% include "./pageblurbs/miscblurb.md" %}
{% endmarkdown %}

{% include "./_includes/components/articleList.njk" %}