---
layout: page
title: "misc"
eleventyNavigation:
    key: misc
    order: 4
pagination:
  data: collections.misc
  size: 10
  alias: articles
---

<h1>{{ title }}</h1>
{% include "./pageblurbs/miscblurb.md" %}
{% include "./_includes/components/articleList.njk" %}